.contact-us {
    background-color: #0D6633;
    display: block;
    padding-top: 0;
    padding-bottom: 0;

    @include respond-to("small") {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

  

    &__heading {
        display: flex;
        flex-direction: column;
    }

    &__heading h2, p {
        color: white;
    }

    &__left {

        color: white;
        padding: 60px 60px 60px 50px;

        @include respond-to("small") {
            padding: 60px 30px 60px 30px;
        }

        @include respond-to("large") {
            padding: 80px 60px 80px calc((100vw - 1200px) / 2);

        }






    }

    


    &__left p {
        margin-bottom: 50px;
    }

    &__right h4 {
        color: white;
    }

    &__right {

        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: end;
        align-items: flex-end;
        padding: 60px 60px 60px 50px;

        &:after {
            content: "";
            background: linear-gradient(to right, rgba(13, 102, 51, 1), rgba(13, 102, 51, 0));
            display: block;
            position: absolute;
            width: 20%;
            right: 100%;
            bottom: 0;
            left: 0;
            top: 0;

        }

        @include respond-to("small") {
            padding: 60px 30px 60px 30px;
        }


        @include respond-to("large") {
            padding: 80px calc((100vw - 1200px) / 2) 80px 80px;
        }

    }

    &__right-info {
        z-index: 1000;
    }


    #fname,
    #email,
    #company,
    #interested {
        border-top: none;
        border-left: none;
        border-right: none;
        background: #0D6633;
        color: white;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    }

    textarea {
        background: #0D6633;
        color: white;
        margin-bottom: 20px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
        min-height: 100px;
    }

    form {
        max-width: 600px;
    }

    input,
    select,
    textarea {
        width: 100%;
        max-width: 100%;
        
    }

    .button__white-border {
        
        margin-top: 36px;
        

        &__white-border svg {
            border-right: 5px;
            color: $primary-color;
        }
      
    }





}


textarea:focus,
input:focus {
    outline: none;

}

.remodeling__button {
    width: 100%;
    font-weight: 700;
    color: $title-color;
    cursor: pointer;
    border-radius: 3px;
    border: none;
}

.button__white-border svg {
    margin-right: 5px;
    
    // color: red;
    // &:hover {
    //     fill: #0D6633;
    // }
    
}

svg:hover {
    fill: $primary-color;
}


.button__white-button {
    width: 100%;
    text-align: center;
    
}



// select2 plugin
.select2-container{
    max-width: 100%;
    
}

  form .select2-container--default .select2-selection--single {
    background-color: #0D6633;
    
  }

  .select2-results__options {
    background-color: #0D6633 ;
    color: white;
  }

  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #3F944A!important;
    color: white!important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0!important;
    
}

.select2-container--default .select2-results>.select2-results__options {
    min-height: 200px;
    overflow-y: auto;
}

.select2-dropdown {
    border-radius: 0!important;
}

form .select2-container--default .select2-selection--single .select2-selection__rendered {
    border: none;
    
    
    // border-bottom: 1px solid rgba(255,255,255,.4);
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: white;

}

.select2-container--default .select2-selection--single {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid (255, 255, 255, 0.4)!important;
}

.select2-selection__arrow {
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: white transparent transparent transparent!important;
}


