.new-office {

    padding-top: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;

   

    h2 {
        
        color: white;
    }

    &__grid {

        display: block;
        color: white;
       
        

        @include respond-to("small") {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
        margin-top: 80px;
        
    }
}

    &__grid h4 {
        color: white;
    }

    &__margin-negative {
        margin-top: -30px;
    }

    &__margin-negative p {
        max-width: 310px;
    }

    &__number {
        margin-bottom: 40px;
    }
}