.our-clients {
    padding-bottom: 0;

    @include respond-to("small") {
        padding-bottom: 70px;
    }

    &__grid-header {

        display: block;

        @include respond-to("small") {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }



    &__grid-header-left h2 {
        margin-bottom: 16px;
    }

    &__grid-header-left p {

        font-size: 18px;

        @include respond-to("small") {
            font-size: 22px;
            color: #454545;
        }
    }

    &__paragraph {

        padding-bottom: 0;

        @include respond-to("small") {
            padding-bottom: 36px;
        }
    }



    &__clients {
        columns: 2;
        margin-top: 36px;

    }

    &__client {

        margin-bottom: 30px;
        border-top: 1px solid #717171;
        padding: 26px 0 0 0;
        display: flex;
        gap: 10px;
        min-height: 115px;


    }

    &__client p {
        margin-bottom: 0;
        font-size: 16px;

    }

    &__grid {
        margin-top: 78px;
        display: block;



    }

    &__grid-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;



    }


    &__paragraph blockquote {
        margin: 0 0 20px 0;

        @include respond-to("small") {
            margin: 0 !important;
        }

    }

    // &__grid-right p {
    // padding-bottom: 36px;
    // }

    .slick-track {
        margin-top: 50px;
        display: flex;
    }

    .slick-slide {
        >div {
            height: 100%;

            >div {
                height: 100%;
            }
        }
    }

    .slick-dots {
        display: none !important;
    }

    .my-arrow {
        align-items: start;
        // position: absolute;
        justify-content: end;


    }

    .my-arrow__prev {
        right: 60px;
        left: auto;
    }

     /* the slides */
  .slick-slide {
    margin: 0 10px;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}






}