/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/

$primary-color: #3f944a;
$text-color:  #838383;
$title-color:  #454545;
$text-white-off: #D0D0D0;
$background-dark: rgb(26, 26, 26);
$background-light:  #F8F8F8;
$background-primary: #0D6633;



/*--------------------------------------------------------------
# Breakpoints
--------------------------------------------------------------*/

$breakpoints: (  'small': (min-width: 768px), 'medium': (min-width: 992px), 'large': (min-width: 1200px), 'xlarge': (min-width: 1440px));


/*--------------------------------------------------------------
# Font
--------------------------------------------------------------*/

$font: "Inter", sans-serif;


